/* #add {
    position: fixed;
    padding: 20px;
    top: 100px;
    border-style: double;
    border-width: 6px;
    width:600pt;
    height: 200pt;
    left: 10%;

    }

    #subtract {
        position: fixed;
        padding: 20px;
        top: 100px;
        border-style: double;
        border-width: 6px;
        width:200pt;
        height: 50pt;
        left: 10%;
    
        }

        #multiply {
            position: fixed;
            padding: 20px;
            top: 100px;
            border-style: double;
            border-width: 6px;
            width:200pt;
            height: 50pt;
            left: 10%;
        
            } */