* {
    box-sizing: border-box;
    margin: 0;
}


/* @media (min-width: 400px) { */
    .container {
    display:flex;
    /* margin:10pt; */
    background: #00b7ff;
    background-size: contain;
    display: grid;
    grid-template-rows: 70px 918px 200px;
    grid-gap: 0;
    row-gap: 7pt;
    
}




.header {
    background:rgb(1, 1, 49);
    display: flex;
    align-items: center;
    justify-content: space-around;

}
a {
    color: white;
}

.box {
    color: white;
    font-size: 15pt;
}

   /* @media (min-width:200px) {  */
       .uncle {
    display:flex;
    background: url(salePage.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
   


    .info {
    display: flex;
    margin-left: 20pt;
    background: #00b7ff;
    display: grid;
    grid-template-columns: auto auto auto;
    /* margin: 20pt; */
    
}


.steps{
    background: #00b7ff;
    font-size: 17pt;
    background-size: contain;
    align-items: center;

}


.footer {
    background:rgb(1, 1, 49);

}